.search-result {
  position: absolute;
  width: 100%;
  top: 100%;
  right: 0;
  margin-top: 10px;
  border-radius: 12px;
  background-color: #161616;
  border: 1px solid #282828;
  padding: 10px;
}

.widget-search {
  position: relative;
}
