.search-input {
  /* width: 100%;
  max-width: 500px; */
  flex: 1;
}

.search-input input,
.search-input input:focus {
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.loading {
  width: 50px;
  margin-bottom: 20px;
}
